<h1>Welcome</h1>

<!-- links to login -->
<%= link_to "Log in", login_path %>
<br>
<!-- links to signup -->
<%= link_to "Sign up", signup_path %>
<br>
<!-- links to Facebook login -->
<%= link_to('Log in with Facebook!', '/auth/facebook') %>