<h1>Action Step: <%= @action.step %></h1>
<h3>Time Spent Practicing: <%= @action.time %> Minutes</h3>
<p><%= @action.description %></p>
<p>Action steps are best when done in a full course. Add this action to your course to reap full benifts.</p>
<br>
<h6><%= @action.category %></h6>

