<h1>Welcome <%= @user.name %> <h1>

<h4><%= link_to 'Create Course', new_course_path %></h4>

<h2>Courses Created <%= @user.name %></h2>
<!-- index resource - 'list of things' via JavaScript and an Active Model Serialization JSON Backend. -->

