<h1>Step Name: <%= @step.name %></h1>
<h3>Time Spent Practicing: <%= @step.time %> Minutes</h3>
<p><%= @step.description %></p>
<p>Steps are best when done in a full course. Add this step to your course to reap full benifts.</p>
<br>
<h6><%= @step.category %></h6>

